body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.board-row {
  text-align: center;
}

.word-row {
  text-align: center;
  margin-bottom: 10px;
}

.word {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: transparent;
  font-family: monospace;
  margin-right: 5px;
  display: inline;
  border-bottom: 2px solid black;
}

.button {
  background-color: #f9f9f9;
  color: black;

  border-radius: 3px;
  border-width: 1.5px;

  width: 30px;
  height: 30px;
}

.buttonFalse {
  background-color: #ff4135;
  color: black;

  border-radius: 3px;
  border-width: 1.5px;

  width: 30px;
  height: 30px;
}

.buttonTrue {
  background-color: #4caf50;
  color: black;

  border-radius: 3px;
  border-width: 1.5px;

  width: 30px;
  height: 30px;
}

.button:focus, .buttonFalse:focus, .buttonTrue:focus {
  outline: none;
}
